{% case include.codetype %}
{% when 'cpp' or 'c++'           %}{% highlight cpp      %}{{ include.content }}{% endhighlight %}
{% when 'cs' or 'csharp' or 'c#' %}{% highlight csharp   %}{{ include.content }}{% endhighlight %}
{% when 'html' or 'htm'          %}{% highlight html     %}{{ include.content }}{% endhighlight %}
{% when 'md' or 'markdown'       %}{% highlight markdown %}{{ include.content }}{% endhighlight %}
{% when 'js' or 'javascript'     %}{% highlight js       %}{{ include.content }}{% endhighlight %}
{% when 'css'                    %}{% highlight css      %}{{ include.content }}{% endhighlight %}
{% else %}{{ include.content }}
{% endcase %}