---
layout: post
title:  "Code Example (html Post)"
date:   2016-12-08 16:40:46 +1300
categories: coding
sources: 
  - "snippet.cpp"
  - "htmlexample.html"
  - "stylesheet.css"
  - "markdownexample.markdown"
---
<div>
    <p>This is a paragraph full of random things and snippets of code like {% include codeblock.html codetype='csharp' content='public void Destroy() { }' %} and {% include codeblock.html codetype='cpp' content='int *p = new int(4);' %}.</p>
    <pre>
        Well that escalated quickly
    </pre>
</div>


{% for scriptname in page.sources %}
{% assign scripts = site.scripts | where: 'scriptname', {{scriptname}}%}
{% for script in scripts %}
<div>
    <hr/>
    
    <p><a href="{{ site.baseurl }}/{{ script.relative_path }}" download="{{ script.scriptname }}">Download: {{ script.scriptname }}</a></p>
    {% include codeblock.html block=true codetype=script.codetype content=script.content %}

</div>

{% endfor %}
{% endfor %}