---
layout: post
title:  "Code Example"
date:   2016-12-08 16:40:46 +1300
categories: coding
sources: 
  - "snippet.cpp"
  - "htmlexample.html"
  - "stylesheet.css"
---

{% for scriptname in page.sources %}
{% assign scripts = site.scripts | where: 'scriptname', {{scriptname}}%}
{% for script in scripts %}
<div>
    <hr/>
    
    <p><a href="{{ site.baseurl }}/{{ script.relative_path }}" download="{{ script.scriptname }}">Download: {{ script.scriptname }}</a></p>
    {% include codeblock.html codetype=script.codetype content=script.content %}

</div>

{% endfor %}
{% endfor %}
<hr/>