---
---
@import url(syntax_highlighting/{{ site.highlight_css }});

body {
    background: black;
    color: white;
}
a {
    color: aqua;
}
.highlight {
    padding: 10px;
    border: 3px outset #666;
}
.highlight pre {
    margin: 0;
}