---
---
@import url(syntax_highlighting/{{ site.highlight_css }});

body {
    background: black;
    color: white;
}
a {
    color: aqua;
}
figure.highlight {
    border: 10px solid red;
}
.highlight {
    margin: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 10px;
    border: 3px outset #666;
}
.highlight pre {
    margin: 0;
}