---
---
@import url(syntax_highlighting/{{ site.highlight_css }});

body {
    background: #333;
    color: #eee;
    font-family: Arial, sans-serif;
    margin: 15px;
}
nav a {
    display: inline-block;
    margin: 5px;
}
a {
    color: #8cf;
}
.highlighter-rouge {
    margin: 0;
    overflow-x: auto;
    
    font-family: monospace;
    white-space: pre;
    
    display: inline;
    padding: 1px 4px 2px 4px;
    border-radius: 5px;
}
pre.highlight {
    margin: 0;
    padding: 0;
}
.codeblock {
    display: block;
    margin: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 10px;
    border: 1px inset #777;
}